@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn, .nav-btn1 {
    margin: 5px;
    padding: 10px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn {
    background: #D9D9D9;
    color: #2C365A;
}

.nav-btn:hover {
    background: #EEE8DF;
}

.nav-btn1 {
    background: #2C365A;
    color: #D9D9D9;
}

.nav-btn1.active-page {
    background: #2C365A;
    color: white;
}

.main-container {
    width: 1080px;
    margin: 30px auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tab {
    background: #EEE8DF;
    color: #2C365A;
    padding: 20px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 28px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.search {
    padding: 18px;
    border-radius: 15px;
    border: none;
    width: 320px;
    font-size: 18px;
    background: #2C365A;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.search::placeholder {
    color: #d9d9d9;
}

.property-section {
    background: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.property-info {
    width: 55%;
    background: #2C365A;
    padding: 20px 25px;
    border-radius: 20px;
    color: white;
}

.property-info .property-text {
    font-size: 0.85em;
}

.property-img {
    width: 50%;
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.room-stats {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stat-box {
    background: #2C365A;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.stat-number {
    display: inline-block;
    margin-top: 8px;
    background: #D9D9D9;
    padding: 10px 18px;
    font-size: 28px;
    border-radius: 50px;
    color: black;
}

.room-stats .stat-box:nth-child(2) .stat-number {
    color: #E51E18;
}

.room-stats .stat-box:nth-child(3) .stat-number {
    color: #07B76C;
}

.room-layout {
    background: #D9D9D9;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.tabs button {
    padding: 15px 25px;
    margin: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background: #EEE8DF;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
}

.tabs .active {
    background: #2C365A;
    color: white;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.room {
    padding: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    box-shadow: 0 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.room.vacant {
    background: #07B76C;
}

.room.occupied {
    background: #E51E18;
}


.vacant-label {
    display: inline-block;
    margin-top: 8px;
    padding: 5px 12px;
    background: #D9D9D9;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #2C365A;
}

.owner-info {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.562);
    margin-top: 50px;
}

.header-label {
    padding: 15px 25px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #2C365A; 
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
}

.owner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.owner-content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.active-status {
    color: white;
    background: #07B76C;
    padding: 5px 18px;
    border-radius: 8px;
}
