
@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

body {
    margin: 0;
    font-family: 'Outfit';
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}
.container {
    width: 1080px;
    margin: 30px auto;
}

.card {
    background: #D9D9D9;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.card-header {
    background: #EEE8DF;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.search-box {
    float: right;
}
.search-input {
    background: #2C365A;
    padding: 13px 22px;
    border-radius: 12px;
    color: white;
    font-size: 0.95rem;
    border: none;
    width: 240px;
}

.payment-boxes {
    display: flex;
    gap: 40px;
    margin-top: 15px;
}

.box {
    background: #2C365A;
    padding: 28px;
    border-radius: 16px;
    width: 290px;
    color: white;
}

.price-green {
    background: #1bb76e;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    margin-top: 12px;
}

.price-orange {
    background: #E48D12;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    margin-top: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

table th {
    background: #2C365A;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    
}

table td {
    background: #EEE8DF;
    padding: 16px;
    color: #2C365A;
    margin: 0;
    font-size: 0.95rem;
    border-bottom: 10px solid #EEE8DF;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    
}

.status {
    padding: 8px 16px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
}
.pending {
    background: #E48D12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}
.paid {
    background: #07B76C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.next-payment {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 600;
    color: #2C365A;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

table td {
    padding: 16px;
    border-bottom: 10px solid #EEE8DF;
    font-weight: bold;
}

table td div {
    display: inline-block;
    width: 100%;
}

.status {
    padding: 8px 16px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
}

.pending {
    background: #E48D12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.paid {
    background: #07B76C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.status-label.Paid {
    color: #07B76C;
    font-weight: bold;
}

.status-label.Pending {
    color: #E48D12;
    font-weight: bold;
}

.status-label.Overdue {
    color: #E51E18;
    font-weight: bold;
}

.tag {
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.paid { background: #07B76C; }        
.pending { background: #E48D12; }     
.overdue { background: #E51E18; }     
