
@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

body {
    margin: 0;
    font-family: 'Outfit';
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.container {
    width: 1080px;
    margin: 30px auto;
}

.card {
    background: #D9D9D9;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    
}

.card-header {
    background: #EEE8DF;
    color: #2C365A;
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.room-layout {
    display: flex;
    gap: 40px;
}

.room-image-box {
    background: #2C365A;
    padding: 25px;
    border-radius: 20px;
    width: 420px;
}

.room-image {
    width: 100%;
    border-radius: 16px;
}

.profile-card {
    background: #2C365A;
    color: white;
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 80px auto 80px 80px;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 75px;
    border-radius: 50%;
}

.name {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.info-line {
    font-size: 0.9rem;
    margin: 2px 0;
}

.icon-box {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.status-badge {
    display: flex;                 
    align-items: center;            
    justify-content: center;      
    padding: 5px 20px;              
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.9rem;
    min-width: 70px;                
    white-space: nowrap;            
    box-sizing: border-box;
    color: white;
    text-align: center;            
}


.status-badge.active {
    background-color: #07B76C;   
}

.status-badge.occupied {
    background-color: #E51E18; 
}

.status-badge.vacant {
    background-color: #07B76C;   
}

.includes-card {
    background: #2C365A;
    color: white;
    padding: 25px;
    border-radius: 18px;
    margin-top: 25px;
    width: 400px;
}

.includes-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.includes-card ul {
    margin: 0;
    padding-left: 20px;
    line-height: 1.6;
}
