@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    box-sizing: border-box;
}

body {
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn:hover {
    background-color: #EEE8DF;
}

.active-page {
    background: #2C365A;
    color: #D9D9D9;
}

.content {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;      
    gap: 40px;
}

.card {
    background: #D9D9D9;
    width: 75%;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    margin: 0 auto;
}

.card-title {
    background: #2C365A;
    color: white;
    padding: 15px 100px;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 25px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #bfb8bb;
    position: relative;
    overflow: hidden;
}

.circle::before,
.circle::after {
    pointer-events: none;
}

.circle::before {
    content: "";
    width: 110px;
    height: 110px;
    background: #c7c1c3;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 60px;
}

.circle::after {
    content: "";
    width: 160px;
    height: 90px;
    background: #c7c1c3;
    border-radius: 100px 100px 0 0;
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.circle.has-image::before,
.circle.has-image::after {
    display: none;
}

.info-fields {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 15px 10px;
    align-items: center;
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #2C365A;
}

.input-box {
    background: #2C365A;
    color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
}

.status {
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 18px;
}

.active {
    background: #07B76C;
    color: #fff;
}

/* Account Settings */
.account-settings {
    margin-top: 20px;
}

.settings-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: flex-start;
}

.settings-fields {
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 20px 15px;
}

.settings-fields label {
    font-size: 20px;
    font-weight: 700;
    color: #2C365A;
}

.settings-input {
    background: #2C365A;
    border: none;
    outline: none;
    padding: 12px 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.email-box {
    width: 100%;
}

.settings-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-pic {
    width: 230px;
    height: 230px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.settings-pic::before,
.settings-pic::after {
    pointer-events: none;
    content: "";
    background: #c7c1c3;
    position: absolute;
}

.settings-pic::before {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 40px;
    left: 60px;
}

.settings-pic::after {
    width: 160px;
    height: 90px;
    border-radius: 100px 100px 0 0;
    bottom: 30px;
    left: 35px;
    z-index: -1;
}

.settings-pic.has-image::before,
.settings-pic.has-image::after {
    display: none;
}

/* Button and links */
.set-picture-link {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #2C365A;
    text-decoration: underline;
    cursor: pointer;
}

.profile-btn {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #2C365A;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 10;
}

.profile-btn:hover {
    background-color: #2C365A;
}


