
@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.page {
    width: 1080px;
    margin: 30px auto;
}

.top-box {
    background: #D9D9D9;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tag {
    background: #EEE8DF;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #2C365A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.search-wrap input {
    width: 260px;
    padding: 10px 18px;
    background: #2C365A;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 15px;
}

.summary-row {
    display: flex;
    gap: 25px;
}

.summary-card {
    flex: 1;
    background: #2C365A;
    color: white;
    padding: 18px;
    border-radius: 12px;
}

.summary-card p {
    line-height: 20px;
    font-size: 14px;
}

.value {
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.green-bg { background: #07B76C; }
.orange-bg { background: #E48D12; }

.table-box {
    background: #DEDFE3;
    margin-top: 35px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.table-title {
    background: #EEE8DF;
    display: inline-block;
    padding: 10px 18px;
    color: #2C365A;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background: #2C365A;
    color: white;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 15px;
}

tbody tr {
    background: #EEE8DF;
    border-radius: 20px;
    text-align: center;
}

tbody td {
    padding: 14px;
    font-size: 15px;
    color: #2C365A;
    font-weight: bold;
}

.green-text { color: #07B76C; font-weight: 600; }
.orange-text { color: #E48D12; font-weight: 600; }
.red-text { color: #E51E18; font-weight: 600; }

.paid, .pending, .overdue {
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
}

.paid { 
    background: #07B76C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}
.pending { 
    background: #F79E22; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}
.overdue {
    background: #E51E18; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    }

    select, option {
    font-family: 'Outfit';
}

