
@font-face {
    font-family: 'Outfit';
    src:url(../font/OutfitRegular.ttf);
}

body {
    font-family: 'Outfit';
    margin: 0;
    background: #EEE8DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.main-container {
    width: 1080px;   /* same fixed width as .page in payments.css */
    margin: 30px auto;  /* same vertical spacing */
    background: #D9D9D9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}


.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-box {
    background: #EEE8DF;
    color: #2C365A;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.search-bar {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    width: 250px;
    background: #2C365A;
    color: white;
    font-size: 16px;
}

.floor-label {
    background: #2C365A;
    color: white;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

.floors-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.floor-column {
    width: 48%;
}

.cards-grid {
    display: flex;
    flex-direction: column;
    gap: 25px 40px;
}

.tenant-card {
    background: #2C365A;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: white;
}



.photo {
    width: 70px;
    height: 70px;
    background: #ccc;
    border-radius: 50%;
    margin: 5px auto 10px auto;
}

.info h3 {
    margin: 5px 0;
    text-align: center;
}

.info p {
    font-size: 14px;
    margin: 3px 0;
}

.bottom-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.unit {
    background: white;
    color: #2C365A;
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: bold;
}

.status {
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.status.active {
    background: #07B76C;
}

.status.notice {
    background: #E48D12;
}
