
@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    background: #EEE8DF; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* mao ni ang mga colors based sa semi final nga file */
:root {
    --navy: #2C365A;
    --light-gray: #D9D9D9;
    --shadow-underbox: rgba(2, 0, 0, 0.767);
    --radius-full: 40px;
}

.header-title {
    background: var(--navy);
    color: white;
    font-size: 32px;
    padding: 20px 40px;
    border-radius: var(--radius-full);
    margin-top: 70px;
    margin-right: 570px;
    font-weight: 600;
}

.header-logo {
    position: absolute;
    right: 500px;
    top: 70px;
    background: var(--navy);
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border-radius: var(--radius-full);
    font-weight: 600;
}

.signin {
    background: var(--light-gray);
    padding: 12px 35px;
    margin-top: 40px;
    margin-right: 190px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    color: var(--navy);
}

.signin-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 25px;
}

.role-btn {
    background: var(--light-gray);
    padding: 12px 35px;
    border-radius: 20px;
    font-size: 20px;
    color: var(--navy);
    font-weight: 600;
    box-shadow: 0px 5px 0px #2C365A;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
}

.role-btn:hover {
    transform: translateY(-5px);
}

.welcome-box {
    background: var(--navy);
    color: white;
    padding: 25px 50px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-underbox);
}
    
.description-box {
    background: var(--light-gray);
    color: var(--navy);
    padding: 40px 60px;
    margin-top: 30px;
    max-width: 650px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-underbox);
}

.role-btn,
.role-btn:visited {
    color: var(--navy);
    text-decoration: none;
}

.role-btn:focus,
.role-btn:active {
    outline: none;
    box-shadow: none;
}
